/* CSS Document */
h1 { color:#42032C;}
body{ backround-color:#AD8B73;
		color:#F8E2CF}
h2 { color:#F3C5C5;}
h3 { color:#42032C;}
h4 { color:#F3C5C5;}
h5 { color:#42032C;}
h6 { color:#F3C5C5;}
P{ color:#42032C;}
